<h1 class="cadastro">Cadastrar livro</h1>

<div class="form-container">
    
<form action="" method="post">
    <p class="form-text">Título do livro:</p>
    <input name="nome" class="input" type="text" placeholder="Insira o nome do livro...">
</form>

<form action="">
    <p class="form-text">Categoria do livro:</p>
    <input name="categ" class="input" type="text" placeholder="Digite a categoria do livro...">
</form>

<form action="">
    <p class="form-text">Descrição do livro:</p>
    <textarea name="descri" class="text-area" placeholder="Digite a descrição do livro" name="" id="" cols="30" rows="10"></textarea>
</form>

<form class="box-2" action="">
    <div>
        <p class="form-text">Preço do livro:</p>
        <input name="preco" class="input input-d" type="number" placeholder="30">
    </div>
    <div>
        <p class="form-text">Quantidade disponível:</p>
        <input name="quantidade" class="input input-d" placeholder="60" type="number">
    </div>
</form>

<input class="btn-cadastrar" value="Cadastrar" type="submit">
</div>