<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gojira</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav class="navbar">
    <ul class="nav-ul">
      <li>
      <a href="/">Livros</a>
      </li>
      <li>
        <a href="/cadastro">Cadastrar</a>
      </li>
    </ul>
  </nav>
  
  {{{body}}}

  <footer>
    <h1>Rodapé</h1>
  </footer>
</body>
</html>